.graphCloseAmazon {
    width: 26.5vw;
    height: 20vw;
    background-color: white;
    background-image: url("../assets/amazon/close.png");
    background-size: 24vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f5f4f5;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    transition: all 0.5s;
    text-align: center;
    line-height: 10vw;
    font-family: Lato !important;
    font-weight: 900;
    font-size: 2vw;
    color: grey;
  }
  
  
  
  .graphOpenAmazon {
    width: 26.5vw;
    height: 20vw;
    background-color: white;
    background-image: url("../assets/amazon/open.png");
    background-size: 24vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f5f4f5;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    transition: all 0.5s;
    text-align: center;
    line-height: 10vw;
    font-family: Lato !important;
    font-weight: 900;
    font-size: 2vw;
    color:  #5786f8;
  }
  
  .graphHighAmazon {
    width: 26.5vw;
    height: 20vw;
    background-color: white;
    background-image: url("../assets/amazon/high.png");
    background-size: 24vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f5f4f5;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    transition: all 0.5s;
    text-align: center;
    line-height: 10vw;
    font-family: Lato !important;
    font-weight: 900;
    font-size: 2vw;
    color:  red;
  }
  
  .graphLowAmazon {
    width: 26.5vw;
    height: 20vw;
    background-color: white;
    background-image: url("../assets/amazon/low.png");
    background-size: 24vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f5f4f5;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    transition: all 0.5s;
    text-align: center;
    line-height: 10vw;
    font-family: Lato !important;
    font-weight: 900;
    font-size: 2vw;
    color:  green;
  }
  
  .graphLSTMAmazon {
    width: 60vw;
    height: 40vw;
    background-color: white;
    background-image: url("../assets/LSTM\ graphs/amazon.png");
    background-size: 55vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f5f4f5;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    transition: all 0.5s;
    text-align: center;
    line-height: 10vw;
    font-family: Lato !important;
    font-weight: 900;
    font-size: 2vw;
    color: green;
  }
  
  .toggleAmazon {
    text-align: center;
    align-items: center;
    line-height: 3vw;
    height: 3vw;
    width: 10vw;
    font-family: Lato !important;
    font-weight: 700;
    font-size: 1.5vw;
    background-color: #5786f8;
    box-shadow: 0px 0px 5px 1px #bfd0f6;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f5f4f5;
    transition: all 0.5s;
    cursor: pointer;
  }
  .toggleAmazon:hover {
    box-shadow: 0px 10px 10px 2px #bfd0f6;
  }